! XFT
!----------------------------------
Xft.dpi: 109
Xft.antialias: true
Xft.autohint: false   
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Colors
!----------------------------------
*foreground:   #c29ba3
*background:   #f1ecee
*cursorColor:  #abb2bf

*color0:       #4A4543
*color1:       #DB90A7
*color2:       #87b6b6
*color3:       #ffb4b8
*color4:       #32abde
*color5:       #be88d9
*color6:       #958ac5
*color7:       #f1ecee
*color8:       #E7CECD
*color9:       #EEAABE
*color10:      #98c4ba
*color11:      #e7d59a
*color12:      #82b3e2
*color13:      #ce9ae8
*color14:      #b4addf
*color15:      #ffffff


! Xcursor
!----------------------------------
Xcursor.theme: OpenZone_White_Slim
Xcursor.size:  16

! Xterm
!----------------------------------
XTerm*faceName: Operator Mono SSm:pixelsize=12:antialias=true
XTerm*selectToClipboard: true